<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
<!--        <title>Facelet Title</title>-->
    </h:head>
    <h:body>
        <ui:composition>
 
            <h2>Sistema Acadêmico</h2>

            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button> <a href="#" class="navbar-brand"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
<!--                            <li><h:link outcome="/address/List" value="Address"/></li>
                            <li><h:link outcome="/billable/List" value="Billable"/></li>
                            <li><h:link outcome="/client/List" value="Client"/></li>
                            <li><h:link outcome="/consultant/List" value="Consultant"/></li>
                            <li><h:link outcome="/consultantStatus/List" value="Consultant Status"/></li>
                            <li><h:link outcome="/project/List" value="Project"/></li>
                            <li><h:link outcome="/recruiter/List" value="Recruiter"/></li>-->
                            <li><h:link outcome="/aluno/List" value="Aluno"/></li>
                            <li><h:link outcome="/curso/List" value="Curso"/></li>
                            <li><h:link outcome="/alunoCurso/List" value="AlunoCurso"/></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </ui:composition>
    </h:body>
</html>

