<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewGradeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewGradeLabel_gradeId}"/>
                    <h:outputText value="#{gradeController.selected.gradeId}" title="#{bundle.ViewGradeTitle_gradeId}"/>
                    <h:outputText value="#{bundle.ViewGradeLabel_descricao}"/>
                    <h:outputText value="#{gradeController.selected.descricao}" title="#{bundle.ViewGradeTitle_descricao}"/>
                    <h:outputText value="#{bundle.ViewGradeLabel_dataInicial}"/>
                    <h:outputText value="#{gradeController.selected.dataInicial}" title="#{bundle.ViewGradeTitle_dataInicial}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewGradeLabel_dataFinal}"/>
                    <h:outputText value="#{gradeController.selected.dataFinal}" title="#{bundle.ViewGradeTitle_dataFinal}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gradeController.destroyAndView}" value="#{bundle.ViewGradeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewGradeEditLink}"/>
                <br />
                <h:commandLink action="#{gradeController.prepareCreate}" value="#{bundle.ViewGradeCreateLink}" />
                <br />
                <h:commandLink action="#{gradeController.prepareList}" value="#{bundle.ViewGradeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewGradeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
