<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAlunoCursoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAlunoCursoLabel_dataInicioCurso}"/>
                    <h:outputText value="#{alunoCursoController.selected.dataInicioCurso}" title="#{bundle.ViewAlunoCursoTitle_dataInicioCurso}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAlunoCursoLabel_dataPrevisaoConclusao}"/>
                    <h:outputText value="#{alunoCursoController.selected.dataPrevisaoConclusao}" title="#{bundle.ViewAlunoCursoTitle_dataPrevisaoConclusao}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAlunoCursoLabel_aluno}"/>
                    <h:outputText value="#{alunoCursoController.selected.aluno}" title="#{bundle.ViewAlunoCursoTitle_aluno}"/>
                    <h:outputText value="#{bundle.ViewAlunoCursoLabel_curso}"/>
                    <h:outputText value="#{alunoCursoController.selected.curso}" title="#{bundle.ViewAlunoCursoTitle_curso}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{alunoCursoController.destroyAndView}" value="#{bundle.ViewAlunoCursoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAlunoCursoEditLink}"/>
                <br />
                <h:commandLink action="#{alunoCursoController.prepareCreate}" value="#{bundle.ViewAlunoCursoCreateLink}" />
                <br />
                <h:commandLink action="#{alunoCursoController.prepareList}" value="#{bundle.ViewAlunoCursoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAlunoCursoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
