<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDiaHorarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDiaHorarioEmpty}" rendered="#{diaHorarioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{diaHorarioController.items.rowCount > 0}">
                    <h:outputText value="#{diaHorarioController.pagination.pageFirstItem + 1}..#{diaHorarioController.pagination.pageLastItem + 1}/#{diaHorarioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{diaHorarioController.previous}" value="#{bundle.Previous} #{diaHorarioController.pagination.pageSize}" rendered="#{diaHorarioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{diaHorarioController.next}" value="#{bundle.Next} #{diaHorarioController.pagination.pageSize}" rendered="#{diaHorarioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{diaHorarioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDiaHorarioTitle_diaHorarioId}"/>
                            </f:facet>
                            <h:outputText value="#{item.diaHorarioId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDiaHorarioTitle_diaSemana}"/>
                            </f:facet>
                            <h:outputText value="#{item.diaSemana}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDiaHorarioTitle_horario}"/>
                            </f:facet>
                            <h:outputText value="#{item.horario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{diaHorarioController.prepareView}" value="#{bundle.ListDiaHorarioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{diaHorarioController.prepareEdit}" value="#{bundle.ListDiaHorarioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{diaHorarioController.destroy}" value="#{bundle.ListDiaHorarioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{diaHorarioController.prepareCreate}" value="#{bundle.ListDiaHorarioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDiaHorarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
