<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDiaHorarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDiaHorarioLabel_diaHorarioId}"/>
                    <h:outputText value="#{diaHorarioController.selected.diaHorarioId}" title="#{bundle.ViewDiaHorarioTitle_diaHorarioId}"/>
                    <h:outputText value="#{bundle.ViewDiaHorarioLabel_diaSemana}"/>
                    <h:outputText value="#{diaHorarioController.selected.diaSemana}" title="#{bundle.ViewDiaHorarioTitle_diaSemana}"/>
                    <h:outputText value="#{bundle.ViewDiaHorarioLabel_horario}"/>
                    <h:outputText value="#{diaHorarioController.selected.horario}" title="#{bundle.ViewDiaHorarioTitle_horario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{diaHorarioController.destroyAndView}" value="#{bundle.ViewDiaHorarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDiaHorarioEditLink}"/>
                <br />
                <h:commandLink action="#{diaHorarioController.prepareCreate}" value="#{bundle.ViewDiaHorarioCreateLink}" />
                <br />
                <h:commandLink action="#{diaHorarioController.prepareList}" value="#{bundle.ViewDiaHorarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDiaHorarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
