<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPerfilTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPerfilLabel_perfilId}" for="perfilId" />
                    <h:inputText id="perfilId" value="#{perfilController.selected.perfilId}" title="#{bundle.EditPerfilTitle_perfilId}" required="true" requiredMessage="#{bundle.EditPerfilRequiredMessage_perfilId}"/>
                    <h:outputLabel value="#{bundle.EditPerfilLabel_descricao}" for="descricao" />
                    <h:inputText id="descricao" value="#{perfilController.selected.descricao}" title="#{bundle.EditPerfilTitle_descricao}" required="true" requiredMessage="#{bundle.EditPerfilRequiredMessage_descricao}"/>
                </h:panelGrid>
                <h:commandLink action="#{perfilController.update}" value="#{bundle.EditPerfilSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPerfilViewLink}"/>
                <br />
                <h:commandLink action="#{perfilController.prepareList}" value="#{bundle.EditPerfilShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPerfilIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
