<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMatriculaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMatriculaLabel_matriculaId}" for="matriculaId" />
                    <h:inputText id="matriculaId" value="#{matriculaController.selected.matriculaId}" title="#{bundle.EditMatriculaTitle_matriculaId}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_matriculaId}"/>
                    <h:outputLabel value="#{bundle.EditMatriculaLabel_dataMatricula}" for="dataMatricula" />
                    <h:inputText id="dataMatricula" value="#{matriculaController.selected.dataMatricula}" title="#{bundle.EditMatriculaTitle_dataMatricula}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_dataMatricula}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditMatriculaLabel_alunoId}" for="alunoId" />
                    <h:selectOneMenu id="alunoId" value="#{matriculaController.selected.alunoId}" title="#{bundle.EditMatriculaTitle_alunoId}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_alunoId}">
                        <f:selectItems value="#{alunoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditMatriculaLabel_statusId}" for="statusId" />
                    <h:selectOneMenu id="statusId" value="#{matriculaController.selected.statusId}" title="#{bundle.EditMatriculaTitle_statusId}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_statusId}">
                        <f:selectItems value="#{statusController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditMatriculaLabel_turmaId}" for="turmaId" />
                    <h:selectOneMenu id="turmaId" value="#{matriculaController.selected.turmaId}" title="#{bundle.EditMatriculaTitle_turmaId}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_turmaId}">
                        <f:selectItems value="#{turmaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{matriculaController.update}" value="#{bundle.EditMatriculaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditMatriculaViewLink}"/>
                <br />
                <h:commandLink action="#{matriculaController.prepareList}" value="#{bundle.EditMatriculaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditMatriculaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
