<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAlunoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAlunoLabel_alunoId}" for="alunoId" />
                    <h:inputText id="alunoId" value="#{alunoController.selected.alunoId}" title="#{bundle.EditAlunoTitle_alunoId}" required="true" requiredMessage="#{bundle.EditAlunoRequiredMessage_alunoId}"/>
                    <h:outputLabel value="#{bundle.EditAlunoLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{alunoController.selected.nome}" title="#{bundle.EditAlunoTitle_nome}" required="true" requiredMessage="#{bundle.EditAlunoRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.EditAlunoLabel_dataNascimento}" for="dataNascimento" />
                    <h:inputText id="dataNascimento" value="#{alunoController.selected.dataNascimento}" title="#{bundle.EditAlunoTitle_dataNascimento}" required="true" requiredMessage="#{bundle.EditAlunoRequiredMessage_dataNascimento}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAlunoLabel_usuarioId}" for="usuarioId" />
                    <h:selectOneMenu id="usuarioId" value="#{alunoController.selected.usuarioId}" title="#{bundle.EditAlunoTitle_usuarioId}" >
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{alunoController.update}" value="#{bundle.EditAlunoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAlunoViewLink}"/>
                <br />
                <h:commandLink action="#{alunoController.prepareList}" value="#{bundle.EditAlunoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAlunoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
