<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsuarioPermissaoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUsuarioPermissaoLabel_usuarioPermissaoPK_permissao}" for="usuarioPermissaoPK_permissao" />
                    <h:inputText id="usuarioPermissaoPK_permissao" value="#{usuarioPermissaoController.selected.usuarioPermissaoPK.permissao}" title="#{bundle.EditUsuarioPermissaoTitle_usuarioPermissaoPK_permissao}" required="true" requiredMessage="#{bundle.EditUsuarioPermissaoRequiredMessage_usuarioPermissaoPK_permissao}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioPermissaoLabel_usuario}" for="usuario" />
                    <h:selectOneMenu id="usuario" value="#{usuarioPermissaoController.selected.usuario}" title="#{bundle.EditUsuarioPermissaoTitle_usuario}" required="true" requiredMessage="#{bundle.EditUsuarioPermissaoRequiredMessage_usuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{usuarioPermissaoController.update}" value="#{bundle.EditUsuarioPermissaoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUsuarioPermissaoViewLink}"/>
                <br />
                <h:commandLink action="#{usuarioPermissaoController.prepareList}" value="#{bundle.EditUsuarioPermissaoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUsuarioPermissaoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
