<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTurmaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTurmaLabel_turmaId}" for="turmaId" />
                    <h:inputText id="turmaId" value="#{turmaController.selected.turmaId}" title="#{bundle.CreateTurmaTitle_turmaId}" required="true" requiredMessage="#{bundle.CreateTurmaRequiredMessage_turmaId}"/>
                    <h:outputLabel value="#{bundle.CreateTurmaLabel_dataLimiteInscricao}" for="dataLimiteInscricao" />
                    <h:inputText id="dataLimiteInscricao" value="#{turmaController.selected.dataLimiteInscricao}" title="#{bundle.CreateTurmaTitle_dataLimiteInscricao}" required="true" requiredMessage="#{bundle.CreateTurmaRequiredMessage_dataLimiteInscricao}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateTurmaLabel_quantidadeVagasDisponivel}" for="quantidadeVagasDisponivel" />
                    <h:inputText id="quantidadeVagasDisponivel" value="#{turmaController.selected.quantidadeVagasDisponivel}" title="#{bundle.CreateTurmaTitle_quantidadeVagasDisponivel}" required="true" requiredMessage="#{bundle.CreateTurmaRequiredMessage_quantidadeVagasDisponivel}"/>
                    <h:outputLabel value="#{bundle.CreateTurmaLabel_materiaId}" for="materiaId" />
                    <h:selectOneMenu id="materiaId" value="#{turmaController.selected.materiaId}" title="#{bundle.CreateTurmaTitle_materiaId}" required="true" requiredMessage="#{bundle.CreateTurmaRequiredMessage_materiaId}">
                        <f:selectItems value="#{materiaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateTurmaLabel_professorId}" for="professorId" />
                    <h:selectOneMenu id="professorId" value="#{turmaController.selected.professorId}" title="#{bundle.CreateTurmaTitle_professorId}" required="true" requiredMessage="#{bundle.CreateTurmaRequiredMessage_professorId}">
                        <f:selectItems value="#{professorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateTurmaLabel_dataInicio}" for="dataInicio" />
                    <h:inputText id="dataInicio" value="#{turmaController.selected.dataInicio}" title="#{bundle.CreateTurmaTitle_dataInicio}" required="true" requiredMessage="#{bundle.CreateTurmaRequiredMessage_dataInicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateTurmaLabel_dataFinal}" for="dataFinal" />
                    <h:inputText id="dataFinal" value="#{turmaController.selected.dataFinal}" title="#{bundle.CreateTurmaTitle_dataFinal}" required="true" requiredMessage="#{bundle.CreateTurmaRequiredMessage_dataFinal}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{turmaController.create}" value="#{bundle.CreateTurmaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{turmaController.prepareList}" value="#{bundle.CreateTurmaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTurmaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
